<form class="size container" [formGroup]="blogForm">
  <div class="row">
    <div class="col">
      <label for="exampleFormControlTextarea1" class="form-label">Title</label>
      <input
        required
        type="text"
        class="form-control"
        aria-label="Title"
        formControlName="title"
      />
    </div>
    <!-- not necessary anymore because the save button is disabled if not all fields
    are used! -->

    <!-- <div
      *ngIf="submitted && blogForm.controls.title.errors"
      class="invalid-feedback"
    >
      <div *ngIf="blogForm.controls.title.errors.required">
        Title is required!
      </div>
    </div> -->
    <div class="col">
      <label for="exampleFormControlTextarea1" class="form-label">Date</label>
      <input
        type="date"
        class="form-control"
        aria-label="Date"
        formControlName="date"
      />
    </div>
    <div class="col">
      <label for="exampleFormControlTextarea1" class="form-label"
        >Destination</label
      >
      <input
        type="text"
        class="form-control"
        aria-label="Destination"
        formControlName="destination"
      />
    </div>
  </div>
  <div class="mb-3">
    <label for="exampleFormControlTextarea1" class="form-label"
      >Description</label
    >
    <textarea
      class="form-control"
      id="exampleFormControlTextarea1"
      rows="3"
      formControlName="description"
      maxlength="110"
    ></textarea>
  </div>
  <div class="mb-3">
    <label for="exampleFormControlTextarea1" class="form-label">Blogtext</label>
    <textarea
      class="form-control"
      id="exampleFormControlTextarea1"
      rows="15"
      formControlName="content"
    ></textarea>
  </div>
  <!-- If not all the forms are filled then the Save Button is disabled!-->
  <button
    class="btn btn-primary"
    [disabled]="!blogForm.valid"
    (click)="onSubmit()"
  >
    save
  </button>
  <button class="btn btn-primary distance" (click)="goBack()">back</button>
</form>
