<ng-container *ngIf="blog">
  <div class="container marketing" id="size">
    <!-- START THE FEATURETTES -->

    <hr class="featurette-divider" />

    <div class="row featurette">
      <h2 class="featurette-heading">
        {{ blog.title }}
        <span class="text-muted">{{ blog.date }}</span>
        <span class="text-center">{{ blog.destination }}</span>
      </h2>
      <p class="lead">
        {{ blog.content }}
      </p>
    </div>

    <hr class="featurette-divider" />

    <!-- /END THE FEATURETTES -->
  </div>
</ng-container>
